{% extends 'base.html' %}
{% load embed_video_tags %}
{% load endless %}
{% load staticfiles %}

{% block page_title %}Guides Page{% endblock page_title %}
{% block ng_app %}ng-app="guides.list"{% endblock %}

{% block content %}
    <div class="row" id="top5-pane">
        <div class="sample-video-container">
            {% for guide in top5 %}
                {% video guide.video as vid %}
                <div class="col-xs-6 col-md-4 {% if forloop.first %}first-video{% endif %}">
                    <a class="thumbnail sample-video" href="{% url 'guide-detail' guide.id %}">
                        <img src="{{ vid.thumbnail }}">
                    </a>
                </div>
                {% endvideo %}
            {% endfor %}
        </div>
    </div>
    <div class="row" id="filter-pane">

    <div class="row" id="filter-pane" ng-controller="{% block ng_controller %}GuideListController{% endblock %}">
        <div class="filter-list">
            {% for category in filtered_guides.get_category %}
                <a ng-click="filters.category = {{ category.id }}">
                <img src="{{ MEDIA_URL }}{{ category.thumb }}">
                </a>
            {% endfor %}
        </div>
    {% verbatim %}
        <ul>
            <li ng-repeat="guide in guides | filter:filters">{{ guide.name }}</li>
        </ul>
    {% endverbatim %}
    </div>




    </div>
{#    <div class="row" id="filter-pane">#}
{#        <div class="filter-list">#}
{#            {% for category in filtered_guides.get_category %}#}
{#                <a href="/guides/?category={{ category.id }}">#}
{#                <img src="{{ MEDIA_URL }}{{ category.thumb }}">#}
{#                </a>#}
{#            {% endfor %}#}
{#        </div>#}
{#        <div class="filtered-guides">#}
{#            {% paginate 2 filtered_guides %}#}
{#            {% get_pages %}#}
{#            {{ pages.previous }}{{ pages.next }}#}
{#            <ul>{% for i in filtered_guides %}<li>{{ i }}</li>{% endfor %}</ul>#}
{#        </div>#}
{#    </div>#}
{% endblock content %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'js/guide-list.js' %}"></script>
{#    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>#}
{#    <script>$.endlessPaginate();</script>#}
{% endblock %}

