{% extends 'base.html' %}
{% load comments %}
{% load embed_video_tags %}
{% block page_title %}Guide {{ object.name }} Page{% endblock page_title %}

{% block content %}
    {% video object.video as vid %}
    Thumbnail: <img src="{{ vid.thumbnail }}">
    Description: {{ object.description }}
    {% video vid 'small' %}
    {% endvideo %}
    <ul class="video-details">
        <li>Rating:</li>
        <li>Social Media Sharing</li>
        <li>{{ object.hit_count }}</li>
        <li>{{ object.contributor }}</li>
    </ul>

    {% block comments %}
        {% render_comment_list for object %}
        {% render_comment_form for object %}
    {% endblock %}

{% endblock content %}
