{% extends 'base.html' %}
{% load embed_video_tags %}

{% block page_title %}Guides Page{% endblock page_title %}
{% block content %}
    <div class="row" id="top5-pane">
        <div class="first-video" id="video-player">
            {% video top5.1.video as vid %}
            {% video vid 'tiny' %}
            {% endvideo %}
        </div>
        <div class="sample-video-container">
            {% for guide in top5|slice:"1:" %}
                {% video guide.video as vid %}
                <div class="col-xs-6 col-md-4">
                    <a class="thumbnail sample-video" data-url="{{ vid.url }}">
                        <img data-src="holder.js/100%x180" alt="100%x180" src="{{ vid.thumbnail }}">
                    </a>
                </div>
                {% endvideo %}
            {% endfor %}
        </div>
    </div>
    <div class="row" id="filter-pane">
        {% block filters %}
            <div class="filter-list">
                {% for category in filter.get_category %}
                    <a href="/guides/?category={{ category.id }}">
                    <img src="{{ MEDIA_URL }}{{ category.thumb }}">
                    </a>
                {% endfor %}
            </div>
        {% endblock %}

        {% for guide in filter %}
            <div class="guide-bar">
                <span><a href="{% url 'guide-detail' guide.id %}">{{ guide.name }}</a></span>
            </div>
        {% endfor %}

    </div>


    <h3>Want to contribute? Apply Here Link</h3>
{% endblock content %}

{% comment %}
TODO: Eventually replace the costly get_guides_all with some kind of pagination.
      Endless Pagination example below:

        {% load endless %}

        {% paginate entries %}
        {% for entry in entries %}
            {# your code to show the entry #}
        {% endfor %}
        {% show_pages %}


{% extends "base.html" %}
{% endcomment %}