{% extends 'base.html' %}
{% load embed_video_tags %}
{% load endless %}

{% block page_title %}Guides Page{% endblock page_title %}
{% block content %}
    <div class="row" id="top5-pane">
        <div class="sample-video-container">
            {% for guide in top5 %}
                {% video guide.video as vid %}
                <div class="col-xs-6 col-md-4 {% if forloop.first %}first-video{% endif %}">
                    <a class="thumbnail sample-video" href="{% url 'guide-detail' guide.id %}">
                        <img src="{{ vid.thumbnail }}">
                    </a>
                </div>
                {% endvideo %}
            {% endfor %}
        </div>
    </div>
    <div class="row" id="filter-pane">
        <div class="filter-list">
            {% for category in filtered_guides.get_category %}
                <a href="/guides/?category={{ category.id }}">
                <img src="{{ MEDIA_URL }}{{ category.thumb }}">
                </a>
            {% endfor %}
        </div>
{% comment %}
        <div class="filtered-guides">
            {% for guide in filtered_guides %}
                {% video guide.video as vid %}
                <div class="col-xs-6 col-md-4">
                    <a class="thumbnail sample-video" href="{% url 'guide-detail' guide.id %}">
                        <img src="{{ vid.thumbnail }}">
                    </a>
                </div>
                {% endvideo %}
            {% endfor %}
        </div>
{% endcomment %}
        <div class="filtered-guides">
            {% paginate 2 filtered_guides %}
            {% get_pages %}
            {{ pages.previous }}{{ pages.next }}
            <ul>{% for i in filtered_guides %}<li>{{ i }}</li>{% endfor %}</ul>
        </div>
    </div>

{#    <div class="row" id="filtered_videosss">#}
{#    {% paginate 2 filtered_guides %}#}
{#    {% get_pages %}#}
{#    {{ pages.previous }}#}
{#    {% for i in filtered_guides %}#}
{#        {% video i.video as vid %}#}
{#        <div class="col-xs-2 col-md-2">#}
{#            <a class="thumbnail sample-video" href="{% url 'guide-detail' i.id %}">#}
{#                <img src="{{ vid.thumbnail }}" />#}
{#            </a>#}
{#        </div>#}
{#        {% endvideo %}#}
{#    {% endfor %}#}
{#    {{ pages.next }}#}
{#    </div>#}
{% endblock content %}

{% block extra_js %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    <script>$.endlessPaginate();</script>
{% endblock %}
