{% extends 'base.html' %}
<div class="container">
  <h1>{% block page_title %}Contributors Page{% endblock page_title %}</h1>

  {% block content %}
  {% for player in contributors %}
  <div class="player-bar">
    <span>{{ player.account.user }}<span>
    <img class="player-image" src="{{ player.account.picture }}"></img>
  </div>
  {% endfor %}
  <h3>For top 4 contributors repeat:</h3>
    <ul>
        <li>Player Image</li>
        <li>Bio</li>
        <li>Video thumbnails linked to Video (Rotator showing 3 & arrows)</li>
        <li>Book Lesson link</li>
    </ul>
    <h3>Want to contribute? Apply Here Link</h3>
  {% endblock content %}
</div>