/*! project specific CSS goes here. */

/* OVERRIDES BOOTSTRAP */
.navbar
{
    height: 70px;
}
.navbar-nav > li > a
{
    margin-top: 10px;
}
.navbar-brand
{
    max-width: 60%;
}
/* END OVERRIDES BOOTSTRAP */

footer
{
    background-color: #5c5c5c;
    padding: 40px 0 50px;
    font-size: 12px;
    color: rgb(150,150,150);
    /*height: 100px;*/
}
footer ul
{
    list-style-type: none;
    margin: 0;
    white-space: normal;
    display: inline;
}
footer ul a
{
    display:block;
    width:60px;
}


/* Index Page */
#demo-video {
    background-image: url('http://www.netcodeguides.com/images/csgo.png');
    margin-top: -10px;
}
#sponsorship {
    background-color: black;
}
#feature-list {
    margin-top: 30px;
}
#sample-video-container {
    margin-left: -25px;
}
#features-table td:nth-child(2), td:nth-child(3)
{
    background: rgba(144,144,144,0.15);
    border-right: 1px solid white;
}
#features-table td:nth-child(3)
{
    background: rgba(1,166,228,0.2);
}
#features-table thead th
{
    -moz-border-radius-topright: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top: 1px solid #eaeaea;
    border-right: 1px solid white;
    text-align: center;
}
#features-table thead th
{
    border-top: none;
}
#features-table thead th:nth-child(2)
{
    background: rgba(144,144,144,0.15);
}
#features-table thead th:nth-child(3)
{
    background: rgba(1,166,228,0.2);
}
#features-table tfoot td
{
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom: 1px solid #dadada;
}
#features-table td
{
    text-align: center;
}
#features-table td:first-child
{
    text-align: left;
}
#features-table tfoot td:first-child
{
    border-bottom: none;
    box-shadow: 0 0px 0 white;
}
#features-table tfoot td:last-child
{
    #background: none;
}
/* END Index Page */

/* Contributor Page */
.player-bar
{
    height: 100px;
    width: 400px;
    margin-bottom: 2px;
    background-color: #CFE2F3;
}
.player-image
{
    float: left;
}
/* END Contributor Page */

/* Guide Page */
ul.video-details
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
}
#top5-pane, #filter-pane
{
    background-color: #CFE2F3;
    margin-top: 20px;
}
.thumbnail a img
{
    height: 300px;
}
/* END Guide Page */