/*! project specific CSS goes here. */

/* OVERRIDES BOOTSTRAP */
.navbar .nav {
    float: right;
}
.player-bar {
    height: 50px;
    width: 400px;
    margin-bottom: 2px;
    background-color: #CFE2F3;
}
.player-image {
    float: right;
}
/* END OVERRIDES BOOTSTRAP */